<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-card-title>
        <h3 md-line>{{dish.name | uppercase}}</h3>
      </mat-card-title>
      <img mat-card-image src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </mat-card-actions>
    </mat-card>

    
  </div>

  <div fxFlex="40" >
    <h3>Comments</h3>
    <mat-list *ngIf="dish">

      <mat-list-item *ngFor="let comm of dish.comments">
          <h3 matLine> {{comm.comment}}  </h3>
          <p matLine>
            <span> {{comm.rating}} Stars </span> </p>
          <p matLine>-- {{comm.author}} {{comm.date | date: 'mediumDate'}} </p>
          
        </mat-list-item>

    </mat-list>

  </div>

</div>